---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'
import { YouTube } from '@astro-community/astro-embed-youtube';

// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
// - Avatars
import user1 from '../../../assets/avatars/7f36ae5829efd411f753efc174e62c03.png'
import user2 from '../../../assets/avatars/7837e3a8c3a4a85e9a9ecfe258a5104d.png'
import user3 from '../../../assets/avatars/a10de1e76b11cd8f8075dbfe18ad5af7.png'
import Spacer from '../../ui/Spacer.astro'
const avatars = [
	{ image: { src: user1.src, alt: 'CraftLime' }, link: '/' },
	{ image: { src: user2.src, alt: 'RebornCraft' }, link: '/' },
	{ image: { src: user3.src, alt: 'CraftLuna' }, link: '/' }
]
---

<Section id="intro" padding="none" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />

		<Col span="8" align="center" classes='mt-10'>
			<ChipNotification radius="rounded-full" classes="mb-6">
				+150 muhteşem müşteri
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification>

			<script src="../../scripts/textRotator.ts"></script>
            <script>
                document.addEventListener('astro:page-load', () => {
                import('../../scripts/textRotator').then(module => {
                  module.initTextRotator();
                });
              });
            </script>

			<h1 class="text-5xl font-medium leading-none md:text-5xl">Artık 
				<strong> <text class="text-item bg-lime" data-texts="Eski,Hatalı,Dupe'lu"></text> </strong>
				<br>eklentilerden bıktınız mı?
			</h1>

			<h4><strong>sFarmer</strong> ile klasikleşmiş çiftçi deneyiminizi <strong>üst seviyeye</strong> taşıyın.</h4>
			
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<div class="ml-12 no-margin-mobile">
				<YouTube
  				id="yOmKw_QVdw8"
  				poster="https://i.imgur.com/TrsgolA.png"
			/>
			</div>
		</Col>
		
		<Col span="6" />
	</Row>
</Section>
